<h1>Checkout</h1>

<% @carted_products.each do |carted_product| %>
  <% if carted_product.status == "carted" %>
    <h3>Quantity: <%= carted_product.quantity %></h3>
    <h3>Status: <%= carted_product.status %></h3>
  <% else %>
  <% end %>
<% end %>

<%= form_tag '/orders', method: :post do %>
  <button class="btn btn-success" type="submit" class="btn btn-default">Buy Now!</button>
<% end %>

