body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url('cloudy-day.png');
  color: magenta;
  text-align: center;
}

.red-price {
  color: red;
}

.well img {
  width: 100%;
}
