<%= render "form", purpose: "Update", url: "/products/#{ @product.id }", verb: :patch %>

<% if current_user && current_user.admin %>
  <br>
  <div>
    <label for="amount">Amount: </label>
    <input type="text" name="amount">   
  </div>
  <% end %>