<h1>New Product</h1>

<%= form_tag '/products', method: :post do %>
  
  <form>
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" name="name">
  </div>
  <div class="form-group">
    <label for="price">Price: </label>
    <input type="text" name="price">
  </div>
  <div class="form-group">
    <label for="image">Image: </label>
    <input type="text" name="image">
  </div>
  <div>
    <label for="image">Description: </label>
    <input type="text" name="description">
  </div>
  <button class="btn btn-success" type="submit" class="btn btn-default">Submit</button>
</form>

<!--   <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div>
    Image: <input type="text" name="image">
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <input type="submit" name="Create Product"> -->
<% end %>
